*{
	background-color: #7700EE;
}

#hip-hop {
	display: none;
}

h1, h4 {
	text-align: center;
}

h4 {
	font-style: italic;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #FEFEFE;
}

button {
	text-align: center;
}

.wu {
	color: #FEFEFE;
	width: 100px;
	height: 100px;
	left: 100px;
	top: 100px;
	font-size: 23px;
	border-radius: 5px;
	margin-left: 10px;
	text-align: center;
}

.big {
	color: #FEFEFE;
	width: 120px;
	height: 100px;
	left: 300px;
	top: 100px;
	font-size: 23px;
	border-radius: 5px;
	text-align: center;
}

.black {
	color: #FEFEFE;
	width: 100px;
	height: 100px;
	left: 500px;
	top: 100px;
	font-size: 23px;
	border-radius: 5px;
	text-align: center;
}

.tribe {
	color: #FEFEFE;
	width: 100px;
	height: 100px;
	left: 700px;
	top: 100px;
	font-size: 23px;
	border-radius: 5px;
	margin-left: 5px;
	text-align: center;
}

.rock {
	color: #FEFEFE;
	width: 120px;
	height: 100px;
	left: 900px;
	top: 100px;
	font-size: 23px;
	border-radius: 5px;
	text-align: center;
}