*{
	background-color: #7700EE;
	color: #FEFEFE;
}

#show_it {
	display: none;
	text-align: center;
}

h1, h4 {
	text-align: center;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #FEFEFE;
}

/*button {
	text-align: center;
}*/
